.content {
  padding: 0.5rem;
}

.example-spacer {
  flex: 1 1 auto;
}

.p-2 {
  padding: 1.5rem;
  font-size: 20px;
}

.final-price-tag {
  color: #27AE60 !important;
}

.original-price-tag {
  color: #C0392B !important;
}

.discount-price-tag {
  color: #F39C12 !important;
}
